$containerWidth: 915px;
$baseFontSize: 16px;

$tablets: 768px;
$phones: 480px;

$red: #E01F3D;

$z-fixed-menu: 100;

@import "media";

@import url('./normalize.css');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans:wght@400;700&family=Play:wght@400;700&display=swap');
@import "layout";

@import "components/hero.scss";
@import "components/header.scss";
@import "components/btn.scss";
@import "components/section.scss";
@import "components/benefits.scss";
@import "components/reviews.scss";
@import "components/interactive-avatar.scss";
@import "components/form.scss";
@import "components/fixed-menu.scss";
@import "components/hamburger.scss";
@import "components/footer.scss";

