.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 17%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(36px);

  @include tablets {
    margin-bottom: 14px;
  }
}

.form__block {
  flex: 1;
  margin-right: rem(17px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: solid rem(3px) transparent;
  padding: rem(19px) rem(12px);
  border-radius: rem(4px);
  font-family: 'Open Sans', sans-serif;
  font-size: rem(14px);
  color: #000;
  transition: .3s ease-in-out;

  @include tablets {
    padding: rem(10px) rem(8px);
  }

  &--textarea {
    height: rem(152px);
    resize: none;

    @include tablets {
      height: rem(82px);
    }
  }

  &:focus {
    border-color: $red;
    outline: none;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(19px);

  @include phones {
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(16px);

  @include phones {
    margin-bottom: rem(10px);
  }

  &--checkbox {
    .radio__visible {
      border-radius: rem(4px);

      &::before {
        background: url('../img/icons/checked.svg') center center no-repeat;
      }
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  width: rem(26px);
  height: rem(26px);
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: rem(10px);
  
  &:before {
    content: '';
    width: rem(13px);
    height: rem(13px);
    background: $red;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form__btns {
  margin-top: rem(46px);

  @include tablets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
