.modal {
  display: none;

  &.error-modal {
    .modal__content {
      color: red;
    }
  }

  &.fancybox-content {
    padding: 0 ;
  }

  .fancybox-button {
    display: none;
  }
}

.modal__container {
  background: #fff;
  padding: rem(37px) rem(50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-error {
  border-color: red;
}

.modal__content {
  font-size: rem(18px);
  margin-bottom: rem(38px);
  color: #000;
}