.section {
  height: 100vh;
  min-height: rem(652px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: rem(48px);
  line-height: rem(52px);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: rem(53px);
  text-align: center;

  @include phones {
    font-size: rem(32px);
    line-height: rem(36px);
  }
}

.benefits-section {
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: rem(17px);
    border-left-width: rem(17px);
    border-bottom: rem(35px) solid $red;
    left: 24%;
    bottom: -2%;
    transform: rotate(225deg);

    @include tablets {
      left: 4%;
    }
  }
}

.benefits-section__container {
  @include tablets {
  width: 100%;
  }
}


.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: rem(18px);
}

.headline__subtitle {
  color: #666;
  padding: 0 18%;
  margin-bottom: rem(62px);

  @include tablets {
    padding: 0 10%;

    @include phones {
      padding: 0 7%;
    }
  }
}

.reviews-section {
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    width: rem(35px);
    height: rem(35px);
    border-radius: 50%;
    background: #868686;
    bottom: rem(-20px);
    left: 8%;
  }
}

.order-section {
  color: #fff;
  background: url('../img/decor/delivery-bg.png') center center / 100% 100% no-repeat;
  position: relative;

  &::before {
    content: url('../img/decor/polygon.svg');
    position: absolute;
    top: rem(-22px);
    right: 8%;
  }
}

.order-section__container {
  width: 95%;
  max-width: 935px;
}

.map-section {
  background: url('../img/map.jpg') center center / cover no-repeat;
}