.slider {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;

    &--left {
      left: 0;
    }
      

    &--right {
      right: 0;
    }

    &-img {
    width: rem(14px);
    height: rem(27px);
    }
  }

  &__list {
    display: flex;
    position: relative;
    &-wrap {
      display: flex;
      max-width: 95%;

      @include tablets {
        width: 100%;
      }
    }
  }

  &__item {
    align-items: center;
  }
}

.slider__list-wrap {
  position: relative;

  .bx-wrapper {
    margin-bottom: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
    
  }
}

.slide {
  display: flex;
  justify-content: space-between;
  

  @include tablets {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    padding-top: 15%;

    @include tablets {
      padding: 0;
    }

    &-wrap {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include tablets {
        width: 37%;
        margin-bottom: rem(70px);
      }

      @include phones {
        width: 63%;
        margin-bottom: rem(50px);
      }
    }
  }
  &__content {
    width: 48%;

    @include tablets {
      width: 95%;
    }
  }

  &__params {
    background: #9A9A9A;
    border-radius: rem(4px);
    padding: rem(24px);
    width: rem(90px);
    height: rem(90px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(25px);

    @include tablets {
      display: none;
    }

    &-img {
      width: rem(42px);
      height: rem(42px);
    }
  }

  &__title {
    font-weight: 700;
    font-size: rem(36px);
    text-transform: uppercase;
    line-height: rem(42px);
    margin-bottom: rem(24px);
  
    @include tablets {
      font-size: rem(28px);
      line-height: rem(32px);
      text-align: center;
    }
  }

  &__desc {
    color: #666;
    line-height: rem(19px);
    margin-bottom: rem(27px);
    width: 80%;

    @include tablets {
      width: 100%;
      text-align: center;
    }
  }

  &__info {
    margin-bottom: rem(24px);
    display: flex;
    

    @include tablets {
      justify-content: center;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;

    @include tablets {
      justify-content: center;
    }
  }

  &__price {
    text-transform: uppercase;
    font-size: rem(36px);
    margin-right: 15px;
  }
}

.info {
  margin-right: rem(86px);

  &:last-child {
    margin-right: 0;
  }

  &__title {
    color: #666;
  }

  &__desc {
    color: #000;
    font-weight: 700;
    font-size: rem(18px);
    line-height: rem(21px);
  }
}

.params {
  cursor: pointer;
  position: relative;

  &:hover .params__list {
    top: 0;
    opacity: 0.8;
  }
}
.params__list {
  position: absolute;
  left: rem(91px);
  top: -1000vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: rem(273px);
  height: rem(294px);
  border-radius: 4px;
  padding: rem(28px) rem(25px) rem(34px) rem(30px);
  background: #fff;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.param {
  display: flex;
  


  &-img  {
    width: rem(24px);
    height: rem(24px);
    margin-right: rem(16px);
  }

  &__info {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}